/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  background-color: aqua;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container_nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 16px;
}



.menu-2-line {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='44' height='44'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 4h18v2H3V4zm0 7h12v2H3v-2zm0 7h18v2H3v-2z'/%3E%3C/svg%3E");
  display: block;
  width: 2.5em;
  height: 2.5em;
  background-size: contain;
}

.logo {
  background-image: url(logo.png);
}